@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-1 {
  border: 1px;
  border-style: solid;
}

.border-b-1 {
  border-bottom: 1px;
  border-style: solid;
}

.border-t-1 {
  border-top: 1px;
  border-style: solid;
}
/* 
.month {

  transition: all 1s;
}

.annualy {
  left: 4px;
  transition: all 1s;
} */
.toggle {
  transition: all 1s;
}

.toggle.month {
  right: 4px;
  /* transition: all 1s; */
}

.toggle.annualy {
  left: 4px;
  /* transition: all 1s; */
}

.box-shadow {
  box-shadow: 0px 0px 7px 0px #00000044;
}